<style>

</style>

<script type="text/javascript" color="0,0,255" opacity='0.7' zIndex="-2" count="99" src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>

<footer class="footer" style="background-color: #363636;color: #f5f5f5;">
    <div class="container">
        <div class="content has-text-centered">
            <p>{{ config.v2_blog_config.blog_name }}</p>
            <p>
                <strong>Powered by </strong><a href="https://github.com/gojuukaze/DeerU">DeerU</a>. The source code is licensed
                <a href="https://github.com/gojuukaze/DeerU/blob/master/LICENSE">GPL V3</a>
            </p>
        </div>
    </div>
</footer>